* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
*::-webkit-scrollbar{
  display: none;
}
body {
  background-color: black;
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:root {
  --color: #dc1620;
 --bgcolor:rgb(42, 41, 41) 
}
/* GENERAL STYLES */
form > p {
  font-size: 0.8rem ;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 17px;
}
#email {
  padding: 18px 7px;
  display: inline-block;
  position: relative;
  left: 16rem;
  outline: none;
}

.get {
   cursor: pointer;
  position: absolute;
  right: 15rem;
  background-color: var(--color);
  padding: 10px 2px;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  width: 10rem;
  height: 3rem;
 border: none;
 


}
.fa-angle-right{
position: absolute;
top: 32%;
right: 17px;
}

h3{
  font-size: 2.1rem;
  padding-bottom: 18px;
}

h3 + p{
  font-size: 1.2rem;
 
}

/* start of first page */
#bg-page{
 background-image:url("/img/net.jpg");
 width: 100vw;
 height: 100vh;
opacity: 0.4;
background-size: cover;
background-repeat: no-repeat;
}

#first-page {
  height: 100vh;
  width: 100vw;
  padding: 2% 4%;
  position: absolute;
  top:0 ;
overflow: hidden;
  padding: 0px 50px;

}

.first-line {
  width: 100%;
  display: block;
  justify-content: space-between;
  position: relative;
}
.brand-name {
  color:#c31e27;
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  letter-spacing: 2px;
  display: inline;
}

#sign-in {
  position: absolute;
  top: 0.7rem;
  right: 0.75rem;
  background-color: var(--color);
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  padding: 7px 17px;
  border-radius: 5px;
  width: 85px;
}

#write-up {
  display: block;
  width: 40%;
  height: 30% ;
  text-align: center;
  position: absolute;
  left: 30%;
  top: 35%;
 
}
#write-up > p{
  font-size: 1.2rem;
   padding-top: 19px;
}
#write-up > h1{
  font-size: 2.2rem;
 
}

.details{
  display: block;
position: relative;
top: 52%;
}

/* start of second-page  */
#second-page {
  padding: 20px  90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    border-top: 8px solid var(--bgcolor) ;
}
.write-up-2{
  width: 50vw;
}
.animation{
  width: 50vw;
  position: relative;
}
video{
  position: absolute;
  left: 50px;
  width: 380px;
  height: 370px;
  z-index: -1;
}
.tv{
width: 500px;
}

/* start of third main div  */
#third-page {
border-top: 8px solid var(--bgcolor);
padding: 20px 20px 40px ;
}

.write-up-3 {
  width:27rem;
  float: right;
 margin: 5.25rem 2.5rem;
 z-index: -1;
}

.animation2{
  position: relative;
margin-bottom: 30px;
z-index: 2;
}

.mobile{
width: 450px;
height: 350px;
}


.strange {
  width: 50px;
}

.third-page-small-box {
  border: 2px solid rgb(70, 69, 69);
  background-color: black;
  width: 14rem;
  height: 90px;
  padding: 8px 10px ;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  top: 11.85rem;
  left: 4rem;
  overflow: hidden;
}

.small-write-up-4{
  position:relative ;
  left: 25%;
  bottom: 79%;
}

.small-box-write {
  font-size: 0.75rem;
}

span {
  font-size: 0.7rem ;
  color: rgb(17, 109, 201);
  font-weight: lighter;
}



/* start of div id= fourth */
#fourth-page {
border-top: 8px solid var(--bgcolor);
width: 100vw;
padding: 50px;
overflow: hidden;
}
.write-up-4{
  width: 23rem;
}


/* start of fifth main div */
#fifth-page {
  display: flex;
  padding: 4rem  7%;
  position: relative;
  border-top: 8px solid var(--bgcolor);
  width: 100vw;
}
.kids {
  width: 28rem;;

}

.write-up-5 {
  width: 41%;
  margin-right:4.2rem;
  position: absolute;
  top: 35%;
  right: 0%;
}

/* start of div id=sixth */
 #sixth-page {
  border-top: 8px solid var(--bgcolor);
  position: relative;
  padding: 50px 0px 50px;
  width: 100vw;
}
.questions{
 width: 90%;
  display: inline-block;
  justify-content: space-around;
}
h2 {
  font-size: 2.22rem;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 2rem;
}

ul > li {
  position: relative;
  left: 26%;
  margin-bottom: 10px;
  list-style: none;
  background-color: #303030;
  padding: 25px;
}

p > a {
  text-decoration: none;
  color: white;
  position: absolute;
  left: 70%;
}
.details2{
  margin-bottom: 60px;
}


/* Start of div id = footer */
#footer {
  padding-top: 25px;
  color: rgb(85, 81, 81);
  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.6rem;
  border-top: 8px solid var(--bgcolor);
  width: 100vw;
  overflow: hidden;
}

.stuff > a {
  text-decoration: none;
  color: rgb(97, 92, 92);
  font-size: 1.5em;
  
}
.stuff{
  position: absolute;
  left: 9rem;
}
h5 {
  text-decoration: none;
}
td > a {
  display: inline-block;
  color: rgb(85, 81, 81);
  padding: 6px 35px;
  text-decoration: none;
  font-weight: 100;
}
#footer > a:hover,
td > a:hover {
  text-decoration: underline;
} 

#first-page ::after {
  background: transparent url("/img/netflix\ bg\ image.jpg") cover no-repeat
    center;
  padding: 0px 50px;
  opacity: 0.2;
}
/* end of div id= footer */
 @media screen and (max-width: 1000px) {
 body{
  display: flex;
  flex-direction: column;
 align-items: center;
 }
 h3{
  font-size: 1.5rem;
 }
 h3 + p{
  font-size: 1rem;
 }
 #email{
  left: 0%;
 margin-bottom: 15px;
 width: 395px;
 }
 #first-page{
  flex-direction: column;
 }
 #write-up{
  width:100%;
  height:fit-content;
position: relative;
top: 10%;
left: 0
 }

 .details{
height: 50vh;
  top: 18%;
margin: 0 auto
}

#second-page{
  flex-direction: column;
  justify-content: center;
  
}
.write-up-2{
  text-align: center;
  width: 100vw;
}
.animation{
  text-align: center;
  width: 100vw;
  overflow: hidden;
}
video{
  width: 300px;
  height: 300px;
}
.tv{
 width: 390px;
}

#third-page{
  flex-direction: column;
}
.write-up-3{
  text-align: center;
  width: 100vw;
   margin: 0;
  padding: 0;
}

.animation2{
 position: relative;
 right: 30px;
  width:100vw;
}
#fourth-page{
  flex-direction: column;
  margin-right: 15px;

 
}

#fifth-page{
  flex-direction: column;
  padding: 50px;
}
.write-up-5{
  text-align: center;
  width: 100vw;
   margin: 0;
  padding: 0;
  top: 0
}
.kids{
  padding-top: 150px;
  width: 400px;
  position: relative;
  right: 50px;
}

#sixth-page{
  flex-direction: column;
 
}

.questions{
  width: 500px;
  position: relative;
  right: 60px;
}

h2{
  font-size: 1.5rem
}


ul > li{
  padding: 12px;
}

#footer{
  flex-direction: column;
  justify-content: space-around;
  font: 1rem ;
}

.stuff{
  position: relative;
  left: 2%;
}
  };