* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
*::-webkit-scrollbar{
  display: none;
}
body {
  background-color: black;
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:root {
  --color: #dc1620;
 --bgcolor:rgb(42, 41, 41) 
}
/* GENERAL STYLES */
.main-details > p {
  font-size: 0.8rem ;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 17px;
  position: relative;
  left: 7%;
}
#email {
  padding: 18px 7px;
  outline: none;
}

.get {
   cursor: pointer;
  position: absolute;
  background-color: var(--color);
  padding: 10px 2px;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  width: 10rem;
  height: 3rem;
 border: none;
}

.fa-angle-right{
position: absolute;
top: 32%;
right: 17px;
}

h3{
  font-size: 2.1rem;
  padding-bottom: 18px;
}

h3 + p{
  font-size: 1.2rem;
 
}

/* start of first page */
#bg-page{
 background-image:url("/img/net.jpg");
 width: 100vw;
 height: 100vh;
 max-height: 700px;
opacity: 0.4;
background-size: cover;
background-repeat: no-repeat;
}

#first-page {
  height: 100vh;
  width: 100vw;
  padding: 2% 4%;
  position: absolute;
  top:0 ;
overflow: hidden;
  padding: 0px 50px;

}

.first-line {
  width: 100%;
  display: block;
  justify-content: space-between;
  position: relative;
}
.brand-name {
  color:#c31e27;
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  letter-spacing: 2px;
  display: inline;
  
}

#sign-in {
  position: absolute;
  top: 0.7rem;
  right: 0.75rem;
  background-color: var(--color);
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  padding: 7px 17px;
  border-radius: 5px;
  width: 85px;
}

#write-up {
  display: block;
  text-align: center;
 position: relative;
 top: 20%;
}
#write-up > p{
  font-size: 1.2rem;
   padding-top: 19px;
}
#write-up > h1{
  font-size: 2.2rem;
}
.main-details{
  position: relative;
  top: 23% ;
  left: -8%;
  text-align: center;
}

/* start of second-page  */
#second-page {
  padding: 20px  90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
    border-top: 8px solid var(--bgcolor) ;
}
.write-up-2{
  width: 50vw;
}
.animation{
  width: 50vw;
  position: relative;
}
video{
  position: absolute;
  left: 50px;
  width: 380px;
  height: 370px;
  z-index: -1;
}
.tv{
width: 500px;
}

/* start of third main div  */
#third-page, #fifth-page{
  padding: 20px ;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
    border-top: 8px solid var(--bgcolor) ;
}

.write-up-3 {
  width:27rem;
 z-index: -1;
}

.animation2{
  position: relative;
margin-bottom: 30px;
z-index: 2;
}

.mobile{
width: 450px;
height: 350px;
}


.strange {
  width: 50px;
}

.third-page-small-box {
  border: 2px solid rgb(70, 69, 69);
  background-color: black;
  width: 14rem;
  height: 90px;
  padding: 8px 10px ;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  top: 11.85rem;
  left: 4rem;
  overflow: hidden;
}

.small-write-up-4{
  position:relative ;
  left: 25%;
  bottom: 79%;
}

.small-box-write {
  font-size: 0.75rem;
}

span {
  font-size: 0.7rem ;
  color: rgb(17, 109, 201);
  font-weight: lighter;
}



/* start of div id= fourth */
#fourth-page {
border-top: 8px solid var(--bgcolor);
width: 100vw;
padding: 50px;
overflow: hidden;
}
.write-up-4{
  width: 23rem;
}


/* start of fifth main div */

.kids {
  width: 25rem;;
}

.write-up-5 {
  width: 41%;
  margin-right:4.2rem;
}

/* start of div id=sixth */
 #sixth-page {
  border-top: 8px solid var(--bgcolor);
  position: relative;
  padding: 50px 0px 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.questions{
margin: auto;
width: 80%;
}
h2 {
  font-size: 2.22rem;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 2rem;
}

ul > li {
  position: relative;
  margin-bottom: 10px;
  list-style: none;
  background-color: #303030;
  padding: 1rem;
}

p > a {
  text-decoration: none;
  color: white;
  position: absolute;
  right: 5%;
}
.details2{
  margin-bottom: 60px;
}


/* Start of div id = footer */
#footer {
  padding-top: 25px;
  color: rgb(85, 81, 81);
  text-transform: capitalize;
  font-size: 0.7rem;
  border-top: 8px solid var(--bgcolor);
  width: 100vw;
  overflow: hidden;

}

.stuff > a {
  text-decoration: none;
  color: rgb(97, 92, 92);
  font-size: 1.5em;
  
}
.stuff{
 padding: 50px 0px 0px 70px;
}
h5 {
  text-decoration: none;
  padding-bottom: 20px;
}
td > a {
  display: inline-block;
  color: rgb(85, 81, 81);
  padding: 10px 35px;
  text-decoration: none;
  font-weight: 100;
}
#footer > a:hover,
td > a:hover {
  text-decoration: underline;
} 

/* end of div id= footer */
 @media screen and (max-width: 1000px) {
 body{
  display: flex;
  flex-direction: column;
 align-items: center;
 padding: auto;

 }
 form>p{
  font-size: 1.2rem;
 }
 form>button{
  display: block;
  margin-top:20px;
  position: relative;
  left: 30%;
 }
 h3{
  font-size: 1.5rem;
 }
 h3 + p{
  font-size: 1rem;
 }
 #email{
width: 95%;

 }
 .get{
  padding: 0;
 }
 #first-page{
  flex-direction: column;
  align-items: center;

 }
 .details{
 position: relative;
left: 16%;
  height: 13vh;

}

#second-page{
  flex-direction: column;
  justify-content: center;
  
}
.write-up-2{
  text-align: center;
  width: 100vw;
}
.animation{
  text-align: center;
  width: 100vw;
  overflow: hidden;
}
video{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 29%;
}
.tv{
 width: 400px;
}

#third-page{
  flex-direction: column;
  }
 
.write-up-3{
  text-align: center;
  width: 100vw;
   margin: 0;
  padding: 0;
}
#fourth-page{
  flex-direction: column;
  margin-right: 15px;
}

#fifth-page{
  flex-direction: column;
  padding: 50px;
}
.write-up-5{
  text-align: center;
  width: 100vw;
   margin: 0;
  padding: 0;
  top: 0
}


#sixth-page{
  flex-direction: column;
 
}

ul.questions{
  width: 100%;
}
ul.questions>li{
  padding: 20px;
}

h2{
  font-size: 1.5rem
}


ul > li{
  padding: 12px;
}

#footer{
  flex-direction: column;
  justify-content: space-around;
  font: 1rem ;
}

.stuff{
  position: relative;
  left: 2%;
  padding: 10px;

}
  };